@import '~antd/dist/antd.css';


.ant-card-cover > img {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.ant-card-head {
    border-bottom: none;
    border-radius: 0;
}

.option2 {
    margin-left: 15px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #001529;
}